{
	"root": true,
	"env": { "browser": true, "es2020": true },
	"parser": "@typescript-eslint/parser",
	"plugins": ["@typescript-eslint", "react-refresh"],
	"rules": {
		"@typescript-eslint/explicit-function-return-type": "error",
		"@typescript-eslint/no-empty-interface": [
			"error",
			{
				"allowSingleExtends": true
			}
		],
		"react-refresh/only-export-components": ["warn", { "allowConstantExport": true }]
	},
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:prettier/recommended",
		"prettier"
	]
}
